.DS_Store
.dart_tool/

.packages
.pub/
pubspec.lock

build/
*.iml
.idea/
.vscode/

.flutter-plugins-dependencies
flutter_export_environment.sh

example/ios/.symlinks
example/Podfile.lock
.last_build_id
