<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.jarvanmo.wechatplugin">
    <application>
        <receiver
            android:name=".AppRegister"
            android:permission="com.tencent.mm.plugin.permission.SEND" >
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
